@import './styles/garage.scss';
@import './styles/controls.scss';
@import './styles/header.scss';
@import './styles/winners.scss';

#app {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: darkorange;
  }
  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background: none;
    }
  }
}

.car {
  position: relative;
  width: 100px;
  height: 50px;
  background-size: contain;
  -webkit-mask-image: url('./assets/img/car.svg');
  mask-image: url('./assets/img/car.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;

  &--looser {
    background: linear-gradient(0deg, red 0%, transparent 50%, transparent);
  }
  &--flame {
    &::before {
      position: absolute;
      width: 25px;
      height: 25px;
      background-size: contain;
      content: '';
    }
  }
}
